<div>
<h3>{{oneMovie.title}}</h3>
<h4>Director: {{oneMovie.director}}</h4>
<h3>Stars:</h3>
<ul> 
   <li> {{oneMovie.stars}}</li> 
 </ul>

<p>{{oneMovie.description}}</p>

<p>Show times: {{oneMovie.showtimes}}</p>

</div>


<div>
    <img src="{{oneMovie.image}}"/></p>
</div>


<a href="/movies"><button>Go back to list</button></a>
